@charset "UTF-8";
@import url(http://pablogarciafernandez.com/css/reset.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/*
  CSS Document

  Name: Pablo García Fernández;
  Website: pablogarciafernandez.com;
  Twitter: @PableraShow;
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f1f1f1;
  color: #4D4D4D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.8em; }

a {
  color: #151515;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: .36s;
  transition-property: all; }

svg, a {
  vertical-align: top; }

h1, h2 {
  font-weight: 300; }

h1 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  line-height: 1.8em; }

h2 a {
  font-weight: 700; }

section {
  padding: 2em 0 0 14em; }

.slide-nav {
  background-color: #ccc;
  bottom: 0;
  left: 0;
  max-width: 70px;
  min-width: 70px;
  padding: 1em;
  position: fixed;
  top: 0;
  transition-duration: .4s;
  transition-property: all; }
  .slide-nav:hover {
    background-color: #9ED29E;
    max-width: 100%; }
    .slide-nav:hover a {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
      padding-left: 2.5em;
      text-indent: 0px; }
  .slide-nav a {
    color: #EEFFE5;
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    padding-left: 1em;
    position: relative;
    text-indent: -200px;
    z-index: 3; }
    .slide-nav a:hover {
      text-decoration: underline; }

.nav-item {
  display: block;
  height: 32px;
  margin-bottom: 12px;
  padding: .2em 1em .2em .2em;
  position: relative; }

.nav-icon {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0; }
